@use "src/pages/styles/mixins.scss" as *;

.modalOverlay {
  position: fixed;
  top: 0;
  left: 0;
  width: 100vw;
  height: 100vh;
  background: rgba(0, 0, 0, 0.5);
  display: flex;
  align-items: center;
  justify-content: center;
  z-index: 1000;
}

.modalContent {
  background: white;
  padding: 40px;
  border-radius: 12px;
  text-align: center;
  position: relative;
  box-shadow: 0 4px 10px rgba(0, 0, 0, 0.2);
  max-width: 600px;
  min-height: 300px;
  width: 100%;
}

.closeButton {
  position: absolute;
  top: 12px;
  right: 12px;
  font-size: 24px;
  border: none;
  background: none;
  cursor: pointer;
}

.title {
  font-size: 32px;
  font-weight: bolder;
  margin-bottom: 10px;
  color: #2e4a34;
}

.description {
  font-size: 18px;
  color: #2e4a34;
}

.iconContainer {
  margin-top: 20px;
  display: flex;
  justify-content: center;
  align-items: center;
}

.successIcon {
  color: green;
  width: 200px;
}

.errorIcon {
  color: red;
  width: 200px;
}

/* Left Side - Image & Contact Info */
.contactInfo {
  flex: 1;
  height: 91%;
  background: url("/assets/images/contact-us.png") no-repeat center/cover;
  position: relative;
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  padding: 40px;
  color: #2e4a34;
  bottom: -4%;
  gap: 10px;

  @media (max-width: 1024px) {
    width: 100%;
    height: 400px;
    align-items: center;
    text-align: center;
  }
}

.infoItem {
  display: flex;
  align-items: center;
  gap: 10px;
  font-size: 16px;
  font-weight: 500;
}

.icon {
  font-size: 18px;
}

.socialIcons {
  display: flex;
  gap: 15px;
  margin-top: 20px;
}

.socialIcon {
  font-size: 24px;
  color: #2e4a34;
  cursor: pointer;
  transition: 0.3s;

  &:hover {
    color: #1f3524;
  }
}

.form {
  width: 100%;
}

/* Right Side - Form */
.formContainer {
  flex: 1;
  width: 50%;
  padding: 40px;
  display: flex;
  flex-direction: column;
  align-items: center;
}

@media (max-width: 1024px) {
  .formContainer {
    padding: 40px 0;
    width: 100%;
  }
}

.formTitle {
  width: 80%;
  display: flex;
  font-size: 32px;
  font-weight: bold;
  color: #2e4a34;
  margin-bottom: 20px;
  justify-content: flex-start;
}

.form {
  display: flex;
  flex-direction: column;
  width: 100%;
  gap: 15px;
}

.row {
  display: flex;
  gap: 15px;

  @media (max-width: 480px) {
    flex-direction: column;
  }
}

.inputContainer {
  display: flex;
  flex-direction: column;
  width: 100%;
}

.input {
  width: 100%;
  padding: 20px 15px;
  background: #eeeeee !important;
  border-radius: 5px;
  color: #1f3524 !important;
  font-size: 16px;
  transition: border 0.3s;
  border: 0;

  &:focus {
    border-color: #000000;
    outline: none;
  }
}

.textarea {
  resize: none;
  padding: 20px 15px;
  min-height: 120px;
  background: #eeeeee;
  border-radius: 5px;
}

.submitButton {
  background-color: #2e4a34;
  color: white;
  padding: 20px 15px;
  font-size: 16px;
  border: none;
  border-radius: 5px;
  cursor: pointer;
  transition: 0.3s;

  &:hover {
    background-color: #1f3524;
  }
}

.input,
.textarea {
  width: 100%;
  padding: 20px 15px;
  background: #eeeeee !important;
  border-radius: 5px;
  color: #1f3524 !important;
  font-size: 16px;
  transition: border 0.3s;
  border: 0;

  &:focus {
    border-color: #000000 !important;
    outline: none;
  }

  &:-webkit-autofill,
  &:-webkit-autofill:hover,
  &:-webkit-autofill:focus,
  &:-webkit-autofill:active {
    background: #eeeeee !important;
    color: #000000 !important;
    -webkit-box-shadow: 0 0 0px 1000px #eeeeee inset !important;
    -webkit-text-fill-color: black !important;
  }

  /* Firefox autofill */
  &:-moz-ui-invalid {
    background: #eeeeee !important;
  }
}

.inputGroup {
  width: 100%;
  display: flex;
  gap: 15px;

  div {
    margin-top: 10px;
    width: 50%;
  }

  @media (max-width: 1024px) {
    flex-direction: column;

    div {
      width: 100%;
    }
  }
}

.inputGroup .error {
  color: maroon;
}

.button {
  width: 100%;
  background-color: #2e4a34;
  color: white;
  padding: 20px 15px;
  font-size: 16px;
  border: none;
  border-radius: 5px;
  cursor: pointer;
  transition: 0.3s;

  &:hover {
    background-color: #1f3524;
  }
}

.appartamentDataTitles {
  font-size: 28px;
  font-weight: 700;
}

.appartamentDataValues {
  font-size: 18px;
}

// .appartBox {
//   width: 80%,
//   : 70%,
//   display: flex,
//   justifyContent: center,
//   alignItems: center,
// @include respond(tablet) {
//   width: 100%;
//   flex-direction: column;
// }
// }

.appartBox {
  width: 80%;
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  @include respond(tablet) {
    width: 100%;
    flex-direction: column;
  }

  .appartSliderContainer {
    width: 600px;
    border: 2px solid #2e4a34;
    border-radius: 10px;
    padding: 10px;

    @include respond(tablet) {
      width: 90%;
    }
  }

  .appartDataBox {
    width: 40%;
    height: 100%;
    display: flex;
    justify-content: flex-start;
    align-items: center;

    @include respond(tablet) {
      width: 90%;
    }
  }
}
