.appartmentWrapper {
  position: relative;
  display: flex;
  align-items: flex-end;
  justify-content: space-between;
  width: 100%;
}

.background {
  position: absolute;
  width: 100%;
  background-color: #08412e85;
  bottom: 0;
  height: 80%;
  z-index: -1;
}

.AvailableImage {
  position: relative;
  display: flex;
  justify-content: center;
  align-items: flex-end;
  width: 50%;
  max-width: 625px;
  z-index: 99;
}

.apartmentImg {
  width: 100%;
  height: auto;
  object-fit: contain;
}

.svgOverlay {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  pointer-events: none;
}

.svgOverlay polygon {
  pointer-events: all;
}

.appartmentWrapper .contents {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  width: 50%;
  min-height: 753px;
  z-index: 10;
}

.contents {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.appartmentWrapper .contents > img {
  position: absolute;
  right: 0;
  bottom: 0;
}

.appartmentWrapper .titleWrapper {
  display: flex;
  justify-content: flex-start;
  align-items: flex-start;
  flex-direction: column;
  width: 100%;
  max-width: 500px;
}

.appartmentWrapper .titleWrapper h3 {
  font-weight: 700;
  font-size: 28px;
  line-height: 42.64px;
  letter-spacing: 1.76px;
  color: #ffffff;
}

.appartmentWrapper .titleWrapper p {
  font-weight: 400;
  font-size: 14px;
  line-height: 32px;
  letter-spacing: -2.5%;
}

/* 📏 Адаптивность */
@media (max-width: 1500px) {
  .appartmentWrapper .contents {
    min-height: 600px;
    padding: 50px;
  }
}

@media (max-width: 1300px) {
  .appartmentWrapper {
    height: auto;
  }

  .appartmentWrapper .contents {
    min-height: 500px;
    padding: 50px;
  }
}

@media (max-width: 1024px) {
  .appartmentWrapper {
    flex-direction: column;
    align-items: center;
  }

  .AvailableImage {
    width: 100%;
    max-width: 100%;
  }

  .appartmentWrapper .contents {
    width: 100%;
    align-items: center;
    text-align: center;
    padding: 50px;
  }
}

.floorLabel {
  pointer-events: none;
  font-weight: bold;
  fill: white;
  text-align: end;
  font-size: 40px;
  z-index: 10;
  text-align: end;
}
