*,
::before,
::after {
  box-sizing: border-box;
  outline: none;

  -webkit-user-drag: none;
}

html {
  touch-action: pan-x pan-y;
  -webkit-font-smoothing: antialiased;
  -webkit-text-size-adjust: 100%;

  -webkit-tap-highlight-color: transparent;
}

body {
  margin: 0;
}

code,
kbd,
samp,
pre {
  font-family: ui-monospace, SFMono-Regular, Consolas, "Liberation Mono", Menlo,
    monospace;
}

h1,
h2,
h3,
h4,
h5,
h6,
p {
  margin: 0;
  font: inherit;
}

small {
  font-size: 85%;
}

a {
  color: inherit;
  text-decoration: none;
}

button {
  padding: 0;
  color: inherit;
  background-color: inherit;
  border: 0;
}

img,
svg {
  display: block;
  max-width: 100%;
  height: auto;
  border: none;
}

input,
textarea,
select {
  font: inherit;
  font-size: 16px;
  color: inherit;

  background-color: transparent;
  background-clip: padding-box;
  border: 0;
  border-radius: 0;
}

textarea {
  resize: none;
}

label {
  display: block;
}

fieldset {
  border: 1px solid;
}

ul,
ol {
  margin: 0;
  padding: 0;
  list-style-type: none;
}

hr {
  border: none;
  border-bottom: 1px solid;
}

table {
  border-spacing: 0;
  border-collapse: collapse;
}

th {
  font-weight: inherit;
}

iframe {
  border: 0;
}

menu {
  margin: 0;
  padding: 0;
}

form,
figure,
pre,
blockquote,
dl,
dd {
  margin: 0;
}

address {
  font: inherit;
}
