.navList {
  display: flex;
  flex-direction: column;
  gap: 20px;
  border-bottom: 1px solid var(--Stoke-Black);
  padding: 24px 0;
  margin-bottom: 32px;
  align-items: center;

  .link {
    color: white;
    font-size: 24px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    color: var(--Neutral-Whit e);
  }
}

.button {
  width: fit-content;
  margin-left: auto;

  @media (max-width: 430px) {
    width: 100%;
  }
}
