/* Schema.module.css */

.container {
  margin: 120px 0 0 70px;
  display: flex;
  align-items: center;
  justify-content: space-between;
  gap: 63px;
}

.infoBlock {
  display: flex;
  align-items: center;
  max-width: 543px;
  gap: 45px;
}

.horizontalblock {
  background-color: #08412e;
  width: 17px;
  height: 497px;
  border-radius: 8px;
}

@media (max-width: 768px) {
  .container {
    display: flex;
    flex-direction: column;
    margin-left: 17px;
    margin-top: 57px;
    align-items: unset;
  }

  .horizontalblock {
    width: 7px;
    height: 201px;
    top: 143px;
    left: 17px;
    border-radius: 8px;
  }

  .infoBlock {
    gap: 28px;
  }
}
