@use "src/pages/styles/mixins.scss" as *;

.footer {
  padding: 32px;
  border-top: 1px solid var(--Neutral-Gray-3);
  margin-top: auto;
  background-color: #08412e;
  color: white;
  h4 {
    margin: 0;
  }
  .links {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    grid-template-areas: "logo product company documents";
    gap: 32px;
    margin-bottom: 24px;

    @include respond(tablet) {
      grid-template-columns: repeat(2, 1fr);
      grid-template-areas:
        "logo"
        "product"
        "company"
        "documents";
      gap: 26px;
      width: 100%;
      display: flex;
      flex-direction: column;
      justify-content: center;
      align-items: center;
    }

    @include respond(mobile) {
      grid-template-columns: 1fr;
      grid-template-areas:
        "logo"
        "product"
        "company"
        "documents";
      gap: 20px;
    }

    .header {
      font-size: 24px;
      margin: 0;
      margin-bottom: 24px;

      @include respond(tablet) {
        margin-bottom: 16px;
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
      }

      @include respond(mobile) {
        margin-bottom: 12px;
        font-size: 20px;
      }
    }

    .list {
      display: flex;
      flex-direction: column;
      gap: 14px;
      margin: 0;

      @include respond(tablet) {
        gap: 12px;
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
      }

      .link .socialItems {
        font-size: 18px;
        color: white;

        &:hover {
          color: white;
        }
      }
    }

    .listSocial {
      display: flex;
      gap: 14px;
      font-size: 24px;

      .iconSocial {
        font-size: 24px;
        color: white;
      }

      .listSocial a {
        color: white;
        font-size: 16px;
        padding: 8px 12px;
        border-radius: 8px;
        transition: 0.3s all;
        cursor: pointer;
      }

      .listSocial:hover {
        font-size: 24px;
        color: white;
      }
    }
  }

  .contacts {
    display: flex;
    justify-content: center;
    border-top: 1px solid white;
    padding: 20px 0;
  }

  .product {
    grid-area: product;
  }
  .chains {
    grid-area: chains;
  }
  .company {
    grid-area: company;
  }
  .documents {
    grid-area: documents;
  }
  .developers {
    grid-area: developers;
  }
}

.iconsBox {
  display: flex;
  gap: 10px;
}

.copyright {
  display: flex;
  align-items: center;
  justify-content: center;
}

.listLi {
  height: 30px;
  color: white;
}
