.textBlock {
    width: fit-content;
}

.title {
    font-family: Bokonique;
    font-weight: 700;
    font-size: 28px;
    line-height: 58px;
    letter-spacing: -2.5%;
}

.description {
    font-family: Bokonique;
    font-weight: 400;
    font-size: 14px;
    line-height: 32px;
    letter-spacing: -2.5%;
}