.images {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 10px; /* Отступы между картинками */

}

.mainImage {
    width: 100%; /* Первая картинка на всю ширину */
    height: 333px;
    border-radius: 6px;
    object-fit: cover;
}

.bottomImages {
    width: 100%;
    justify-content: space-between;
    display: flex;
    gap: 10px; /* Отступ между тремя картинками */
}

.bottomImages img {
    object-fit: cover;
    border-radius: 6px;
    width: calc((100% - 20px) / 3); /* Делим ширину на 3, учитывая отступы */
}
